<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<%= javascript_include_tag :application %>
<%= stylesheet_link_tag 'games'%>
<%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header'%>
<%= render 'layouts/game_form'%>
<div align="center"><%flash.each do |name,msg|%>
  <%=msg%>
<%end%>
</div>
<%= yield %>

</body>
</html>
